################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AvianCore/AvianCore/out/build/x64-Debug (default)
/AvianCore/AvianCore/.vs
/AvianCore/AvianCore/AvianCore/out/build/x64-Debug (default)
