################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AvianCore/AvianCore/out/build/x64-Debug (default)
/AvianCore/AvianCore/.vs
/AvianCore/AvianCore/AvianCore/out/build/x64-Debug (default)
/.vs
/AvianCore/out/build/x64-Debug (default)
/AvianCore/.vs/AvianEngine/v16
/AvianCore/Core/.vs
/AvianCore/Debug
/AvianCore/Release
